body,html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

nav{
    margin-bottom: 15px;
}

/*********global*******/
.btn-view-all{
    background-color: #1b262c;
    color: #fff;
}
/********end global****/

/**** featured *****/
#featured{
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #1b262c;
    color: #fff;

}

/**** end featured *****/

/**** newly-arrived *****/
#newly-arrived{
    margin-top: 4em;
    margin-bottom: 4em;
}

#newly-arrived .card{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    
}

#newly-arrived .card a{
    background-color: #fff;
    color: #1b262c;
    border: solid 0.7px #1b262c;
}

#newly-arrived .card a:hover{
    background-color: #1b262c;
    color: #fff;
    border: solid 0.7px #1b262c;
}
/**** end newly-arrived *****/


/**** #most-popular *****/
#most-popular{
    margin-top: 4em;
    margin-bottom: 4em;
}

#most-popular .card{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
 
}

#most-popular .card a{
    background-color: #fff;
    color: #1b262c;
    border: solid 0.7px #1b262c;
}

#most-popular .card a:hover{
    background-color: #1b262c;
    color: #fff;
    border: solid 0.7px #1b262c;
}
/**** end newly-arrived *****/

/**** footer *****/
footer{
    background-color: #1b262c;
    color: #fff;
    margin-top: 2em;
}
/**** end footer *****/

/**** sales-force-page *****/
#sales-force-page .sales-card{
    background: rgb(7,121,228);
    background: linear-gradient(90deg, rgba(7,121,228,1) 11%, rgba(35,148,231,1) 32%, rgba(3,179,245,1) 64%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    border-radius: 30px;
    padding-top: 1em;
    margin-right: 7px;
    margin-left: 7px;
    padding-bottom: 10px;
}

#sales-force-page .profile-img{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-right: 5px;
    border-radius: 50%;
    margin-top: 30px;
}

#sales-force-page .profile-stats-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#sales-force-page .stats-text{
    margin-top: 3px;
}

#sales-pending-orders{
    margin-top: 2em;
}

#sales-pending-orders-carousel{
    margin-top: 2em;
}


/**** end sales force page *****/